<mat-card>
  <mat-card-title color="primary">
    <h2>Todos</h2>
    <button mat-raised-button [routerLink]="['/todos', 'new']" color="primary">New todo</button>
  </mat-card-title>
   <mat-card-content>
    <mat-list *ngIf="todos$ | async as todos">
      <mat-list-item *ngFor="let todo of (todos); let index = i" class="list-item">
        <mat-checkbox (change)="switchTodoState(todo)" color="primary" type="checkbox" [name]="'item'+i" [(ngModel)]="todo.state">
        </mat-checkbox>
          <div class="clickable" [routerLink]="['/todos', todo.id]">
            <span [class.completed]="todo.state">{{ todo.title }}</span>
          </div>
        <button mat-raised-button (click)="removeTodo(todo.id)" color="primary" [routerLink]="['/todos']">Remove todo</button> 
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
